
<div class="row">
  <div class="col-md-12">
    <div class="PizzaSizePicker">
      <div class="PizzaSizePicker__item"
           (click)="changeTipo(PreguntaTipoEnum.VoF)"
           [ngClass]="{'PizzaSizePicker__item--active': PreguntaTipo == PreguntaTipoEnum.VoF}">
        Verdadero o falso
      </div>
      <div class="PizzaSizePicker__item"
           (click)="changeTipo(PreguntaTipoEnum.Seleccion)"
           [ngClass]="{'PizzaSizePicker__item--active': PreguntaTipo == PreguntaTipoEnum.Seleccion}">
          Seleccion Simple
      </div>
    </div>
  </div>
</div>
