
<div  class="row" [formGroup]="group">
  <div class="col-md-12">
    <div class="PreguntaList">
      <div class="PreguntaList__title">
        <h2>
          Preguntas
        </h2>
      </div>
      <div  class="PreguntaList__content" formArrayName="preguntas">
        <div class="PreguntaList__item"
             *ngFor="let pregunta of preguntasArray.controls; let i = index;"
             [ngClass]="getPreguntaListItemClassStates(pregunta, i)"
             (click)="preguntaSelected.emit(i)"
             [formGroup]="pregunta">
          <span>
            {{getPreguntaTitle(pregunta.value, i)}}
          </span>

          <button mat-icon-button (click)="deletePregunta.emit(i); $event.stopPropagation()">
            <mat-icon class="PreguntaList__item__icon">remove_circle</mat-icon>
          </button>
        </div>

        <div class="PreguntaList__item PreguntaList__item--add" (click)="addPregunta.emit()">
          <mat-icon class="PreguntaList__item__icon">add_circle</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
